{% include 'blog/header.html' %}
<form method="post">
    {% csrf_token %}
    <input type = "text" name = "question" id ="question" class="form-group" placeholder="Type Question here..."/>
    <input type = "submit"  class="form-group" value = "Submit"/>
</form>
{% if questions %}
    {%  for question in questions %}
        <h6><b>Question : </b>{{question.question}}</h6><p>Asked by <b>{{question.question_asker}}</b></p>
        <h6><b>Answer : </b></h6>
        {% for answer in answers %}
            {% if answer.question_id == question.id %}
                {{answer.answer}}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% else %}
    <p>No Questions</p>
{% endif%}
{% include 'blog/footer.html' %}