{% include 'blog/header.html' %}
<style>
    .conversation-wrap
    {
        box-shadow: -2px 0 3px #ddd;
        padding:0;
        max-height: 400px;
        overflow: auto;
    }
    .conversation
    {
        padding:5px;
        border-bottom:1px solid #ddd;
        margin:0;

    }

    .message-wrap
    {
        box-shadow: 0 0 3px #ddd;
        padding:0;

    }
    .msg
    {
        padding:5px;
        /*border-bottom:1px solid #ddd;*/
        margin:0;
    }
    .msg-wrap
    {
        padding:10px;
        max-height: 400px;
        overflow: auto;

    }
    .time
    {
        color:#bfbfbf;
    }
    .send-wrap
    {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding:10px;
        /*background: #f8f8f8;*/
    }
    .send-message
    {
        resize: none;
    }

    .highlight
    {
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
    }
    .send-message-btn
    {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;

        border-bottom-right-radius: 0;
    }
    .btn-panel
    {
        background: #f7f7f9;
    }

    .btn-panel .btn
    {
        color:#b8b8b8;

        transition: 0.2s all ease-in-out;
    }
    .btn-panel .btn:hover
    {
        color:#666;
        background: #f8f8f8;
    }
    .btn-panel .btn:active
    {
        background: #f8f8f8;
        box-shadow: 0 0 1px #ddd;
    }
    .btn-panel-conversation .btn,.btn-panel-msg .btn
    {

        background: #f8f8f8;
    }
    .btn-panel-conversation .btn:first-child
    {
        border-right: 1px solid #ddd;
    }
    .msg-wrap .media-heading
    {
        color:#003bb3;
        font-weight: 700;
    }
    .msg-date
    {
        background: none;
        text-align: center;
        color:#aaa;
        border:none;
        box-shadow: none;
        border-bottom: 1px solid #ddd;
    }
    body::-webkit-scrollbar {
        width: 12px;
    }
    /* Let's get this party started */
    ::-webkit-scrollbar {
        width: 6px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
/*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
/*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
        background:#ddd; 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: #ddd; 
    }

</style>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <form class="form-inline my-2 my-lg-0 btn-panel btn-panel-conversation" method="GET">
                    <input class="form-control mr-sm-2" type="search" name='chatroomname' placeholder="Type New Chat Room" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 btn  col-lg-6  send-message-btn pull-right" type="submit">Chat Room</button>
            </form>
        </div>
    </div>
    <div class="row">

        <div class="conversation-wrap col-lg-3">
            <div class="media conversation">
                <a class="" href="/home/chat/room1" style="text-decoration: none;">
                <div class="media-body">
                    <h5 class="media-heading">Room 1</h5>
                </div>
                </a>
            </div> 
        </div>
        <div class="message-wrap col-lg-8" >
            <div class="msg-wrap" >
                <p id="chat-log">
                    
                </p>
            </div>
            <div class="send-wrap ">
                <textarea class="form-control send-message"  id="chat-message-input" rows="3" placeholder="Write a reply..."></textarea>
            </div>
            <div class="btn-panel">
                <input id="chat-message-submit" class=" col-lg-4 text-right btn send-message-btn pull-right" type="button" value="Send Message" role="button"></input>
            </div>
        </div>
    </div>
</div>
<script>
        var roomName = {{ room_name_json }};
        var user_name = {{user_name}};
        var time = "{{ time_now }}";
        var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/home/chat/' + roomName + '/');

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            document.getElementById('chat-log').innerHTML += (message + '<br>');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            var messageInputDom = document.querySelector('#chat-message-input');
            var message = messageInputDom.value;
            var time = new Date();
            var msg = '<div class="media msg">' +  
                        '<a class="pull-left" href="#">' + 
                        '</a>' + 
                        '<div class="media-body">' + 
                            '<small class="pull-right time"><i class="fa fa-clock-o"></i>'+
                                 time +
                            '</small>' + 
                            '<h5 class="media-heading"> '
                             + user_name+ 
                             '</h5>' + 
                             '<small class="col-lg-10">'
                              + message + 
                              '</small>' + 
                        '</div>' + 
                      '</div>';

            chatSocket.send(JSON.stringify({
                'message': msg
            }));

            messageInputDom.value = '';
        };
    </script>
{% include 'blog/footer.html' %}