{% include 'blog/header.html' %}
<style>
  .notif-wrap
    {
        padding:10px;
        max-height: 400px;
        overflow: auto;

    }
</style>
<!-- Page Content -->
<div class="container">
        <div class="row">
          <!-- Blog Entries Column -->
          <div class="col-md-8">
            <h1>All Blogs</h1>
  
            <!-- Blog Post -->
            {% for post in posts %}
              <div class="card mb-4">
                {% if post.post_image %}
                <img class="card-img-top img-responsive" src="{{post.post_image.url}}" width="750" height="300" alt="Post Image">
                {% else %}
                <img class="card-img-top img-responsive" src="http://placehold.it/750x300" width="750" height="300" alt="Post Image">
                {% endif %}
                <div class="card-body">
                  <h2 class="card-title">{{post.title}}</h2>
                  <p class="card-text">{{post.content}}</p>
                  <a href="/home/blog/{{post.id}}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                  {{post.timestamp}}
                  <p class="card-text">{{post.user}}</p>
                </div>
              </div>
            {% endfor %}
            <!--Pagination-->
            <div class="pagination justify-content-center mb-4">
                <span class="step-links ">
                    {% if posts.has_previous %}
                        <a href="?page=1&searchquery={{ request.GET.searchquery }}" class="page-link " >&laquo; first</a>
                        <a href="?page={{ posts.previous_page_number }}&searchquery={{ request.GET.searchquery }}" class="page-link ">previous</a>
                    {% endif %}
            
                    <span class="current disabled">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                    </span>
            
                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}&searchquery={{ request.GET.searchquery }}" class="page-link" >next</a>
                        <a href="?page={{ posts.paginator.num_pages }}&searchquery={{ request.GET.searchquery }}" class="page-link" >last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            
          </div>
  
          <!-- Sidebar Widgets Column -->
          <div class="col-md-4">
  
           
  
            <!-- Categories Widget -->
            <div class="card my-4">
              <h5 class="card-header">Categories</h5>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                      {% for post in posts %}
                        <a href="/home/?searchquery={{post.tags}}" style="text-decoration: none;">{{post.tags}}</a>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Side Widget -->
            <div class="card my-4">
              <a class=" btn btn-success container m-1" href="/home/addblog">Write Blog</a>
              <a class=" btn btn-success container m-1" href="/home/chat/room1">Chat Rooms</a>
            </div>

            <!-- Notification Widget -->
            <div class="card my-4 notif-wrap">
                <p id="notification-log" name = "notification-log"></p>
                <p>Old Notifications:</p>
                {% if notifications %}
                    {% for notification in notifications %}
                        {% if notification.title == "Comment-Notification"%}
                            <b>{{notification.by}}</b> has commented {{notification.message}} on the post {{notification.post_title}}<br>
                        {% elif notification.title == "Like-Notification"%}
                            <b>{{notification.by}}</b>{{notification.message}} on the post {{notification.post_title}}<br>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    None
                {% endif %}
              </div>
  
          </div>
  
        </div>
        <!-- /.row -->
  
      </div>
      <!-- /.container -->
      <script>
          var roomName = {{ room_name_json }};
          var socket = new WebSocket('ws://'+ window.location.host +'/ws/home/notification/'+ roomName + '/');        
          
          socket.onclose = function(e) {
              console.log(e);
              console.error('Notification socket closed unexpectedly');
          }; 
          
          socket.onmessage = function(e) {
              var data = JSON.parse(e.data);
              var message = data['message'];
              document.getElementById('notification-log').innerHTML += (message + '<br>');
          };      
        </script>
{% include 'blog/footer.html' %}