{% include 'blog/header.html' %}
<style>
     body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
</style>
<div class = "container">
    <!-- First Container -->
      <div class="container-fluid bg-1 text-center">
        <h3 class="margin">Who Am I?</h3>
        {% if eprof_info.profile_image %}
        <img src="{{eprof_info.profile_image.url}}" class="img-responsive rounded-circle margin" style="display:inline" alt="ProfilePic" width="250" height="250">
        {% endif %}
        <h3>{{request.user.first_name}}&nbsp;{{request.user.last_name}}</h3>
        <h4><i class="fa fa-at"></i>{{request.user.username}}</h4>
      </div>
      
      <!-- Second Container -->
      <div class="container-fluid bg-2 text-center">
        <h3 class="margin">What Am I?</h3>
        <p>{{eprof_info.description}} </p>
      </div>
      
      <!-- Third Container (Grid) -->
      <div class="container-fluid bg-3 text-center">    
        <h3 class="margin">Where To Find Me?</h3><br>
        <div class="row">
          <div class="col-sm-4">
            <p>FaceBook</p>
            <i class="fa fa-5x fa-facebook-square"></i>
          </div>
          <div class="col-sm-4"> 
            <p>Instagram</p>
            <i class="fa fa-5x fa-instagram"></i>
          </div>
          <div class="col-sm-4"> 
            <p>Twitter</p>
            <i class="fa fa-5x fa-twitter-square"></i>
          </div>
        </div>
      </div>


      <div class="container-fluid bg-4 text-center">    
          <h3 class="margin">My Blogs</h3><br>
          {% if posts %}
            {% for post in posts %}
              <div class="card mb-4">
                  {% if post.post_image %}
                  <img class="card-img-top img-responsive" src="{{post.post_image.url}}" width="750" height="300" alt="Post Image">
                  {% else %}
                  <img class="card-img-top img-responsive" src="http://placehold.it/750x300" width="750" height="300" alt="Post Image">
                  {% endif %}
                  <div class="card-body">
                    <h2 class="card-title">{{post.title}}</h2>
                    <p class="card-text">{{post.content}}</p>
                    <a href="/home/blog/{{post.id}}" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                  <div class="card-footer text-muted">
                    {{post.timestamp}}
                    <p class="card-text">{{post.user}}</p>
                  </div>
                </div>
            {% endfor %}
          {% else %}
                  No Blog Posts
          {% endif%}
        </div>
</div>
      
{% include 'blog/footer.html' %}